<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.algorizo.erp.contractMapper">
	
 <select id="getAllContracts" resultType="co.algorizo.erp.contract.ContractDTO">
       SELECT 
            c.cr_no,
            c.cr_name,
            c.cr_regdate,
            c.cr_code,
            c.cr_moddate,
            c.cr_state,
            c.del,
            m.m_name AS member_name,
            d.team AS team,
            cp.cp_name AS cp_name
        FROM 
            contract c
        LEFT JOIN member m ON c.member_m_id = m.m_id
        LEFT JOIN dept d ON c.dept_d_id = d.d_id
        LEFT JOIN company cp ON c.company_cp_id = cp.cp_id
        WHERE 
            c.del = 0
            order by c.cr_no desc
    </select>
    
    <insert id="register" parameterType="java.util.Map">
	insert into contract(cr_regdate, cr_code, cr_name, member_m_id, company_cp_id, dept_d_id, cr_price, cr_content) 
	values (now(), #{cr_code}, #{cr_name}, #{member_m_id}, #{company_cp_id},(select dept_d_id from member where m_id=#{member_m_id}), #{cr_price},#{cr_content})
	
	</insert>
    
    <select id="getContractDetail" resultType="co.algorizo.erp.contract.ContractDTO">
        SELECT 
            c.cr_no,
            c.cr_name,
            c.cr_regdate,
            c.cr_code,
            c.cr_moddate,
            c.cr_state,
            c.del,
            c.cr_price,
            c.cr_content,
            m.m_name AS m_name,
            d.team AS team,
            cp.cp_name AS cp_name,
            cp.cp_fax AS cp_fax,
            cp.cp_ctg AS cp_ctg,
            cp.cp_addr AS cp_addr,
            cp.cp_manager AS cp_manager
        FROM 
            contract c
        LEFT JOIN member m ON c.member_m_id = m.m_id
        LEFT JOIN dept d ON c.dept_d_id = d.d_id
        LEFT JOIN company cp ON c.company_cp_id = cp.cp_id
        WHERE cr_code = #{cr_code}  <!-- cr_code를 기준으로 상세 정보 조회 -->
    </select>

	<update id="updateContract" parameterType="java.util.Map">
		update contract set cr_moddate = now(), cr_state = #{cr_state}, cr_name = #{cr_name} where cr_code=#{cr_code}
	</update>

    <update id="deleteContract" parameterType="String">
		update contract set del = 1 where cr_code = #{cr_code}
	</update>
    
    <select id="getLastContractCode" resultType="String">
        SELECT cr_code FROM contract ORDER BY cr_no DESC LIMIT 1;
    </select>
    
</mapper>